.no-drag{
  -webkit-app-region: no-drag;
}

.drag{
  -webkit-app-region: drag;
}

.common-header{
  color: #ffffff;
};

.content{
  padding: 30px;
}

.filtered-bikecrime{
 color: #AAE2CF; 
}
body{
  background-color: #454545;
  color: #ffffff;
}

html{
  height: 100%;
}

