.no-drag{
  -webkit-app-region: no-drag;
}

.drag{
  -webkit-app-region: drag;
}

.common-header{
  color: #ffffff;
};

.content{
  padding: 30px;
}
body{
  background-color: #f7f7f9;
  height:100%;
  border: 1px solid #afafaf;
}

html{
  height: 100%;
}