.common-header{
  background-color: #353535;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-app-region: drag;
  .main-header{
    color: #5CADAD;
  }
  .sub-header{
color: #A7C8E6
  }
  .openfin-header{
    color: #ffff00;
  }
}